@page "/status"

<PageTitle>Status</PageTitle>

<h1>Status</h1>

Check cat scanning status.

@code {

    private Dictionary<DateTime, string> PetStatusList = new Dictionary<DateTime, string>

    private 
}