@page "/status"
@using PetScanner.Models
@using PetScanner.Services
@inject FetchFromArduino fetchFromArduino; 

<PageTitle>Status</PageTitle>

<h1>Status</h1>

Check cat scanning status.

<button @onclick="FetchData">Get data</button>


ID: @id
Time: @time
@code {
    int id;
    int time;

    public async Task FetchData()
    {
        try
        {
            var result = await fetchFromArduino.GetData();
            Console.WriteLine("FetchData called");
            Console.WriteLine("FetchData result:", result.Id + " " + result.Time);

            id = result.Id;
            time = result.Time;
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching data from arduino:", ex.ToString());
        }
    }
}